{% load static %}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="{% static 'testwork/style.css' %}" />

<h1>{{ problem.title }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<div class="background">
{% for choice in problem.choice_set.all %}
    <p>{{ choice.detail_text }}</p>
{% endfor %}
</div>
<div class = "input">
<form action="{% url 'testwork:vote' problem.id %}" method="post">
{% csrf_token %}
<textarea rows="10" cols="50" name="vote" >What</textarea><br>
<input type="submit" value=提出 />
</div>
</form>



<form action="{% url 'testwork:toIndex' problem.id%}" method="POST">
{% csrf_token %}
<input type="submit" value=戻る />
</form>


