li a {
    color: red;
}

h1 {
    color: black;
}

label {
    color: red;
}
.input {
    resize: both;
    line-height:1.4;
    width: 580px;
    
    margin: 0 auto;  
}

.background {
    padding: 0.5em 1em;
    margin: 2em 2em;
    background: #F6CED8;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.background p {
    margin: 0;
    padding: 0;
}
.indexproblem {
    position: relative;
    margin: 1em 10em;
    padding: 20px 10px 3px;
    border: solid 2px #FFC107;
}
.indexproblem .box-title {
    position: absolute;
    display: inline-block;
    top: -2px;
    left: -2px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 17px;
    background: #FFC107;
    color: #ffffff;
    font-weight: bold;
}
.indexproblem a {
    margin: 0; 
    padding: 0;
}

.indexproblem .date{
    position: relative;
    top: -40px;
    left: 120px;
}

.problems {
    padding: 0.2em 0.2em;
    margin: 2em 4em;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}